.introduction h1, .introduction h3 {
  text-align: center;
}

.introduction h1 {
  font-size: 3vw;
}

.introduction h3 {
  font-size: 2vw;
}

.introduction li {
  font-size: 1.5vw;
}

.introduction, .song {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.loader {
  border: 10px solid #303030;
  border-radius: 50%;
  border-top: 10px solid #821fbf;
  width: 8vw;
  height: 8vw;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button-bar {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10%;
 
  position: fixed;
  font-size: 6vw;
  bottom: 0%;
  right: 5%;
}

.button-bar svg {
  border-radius: 50%;
  background-color: black;
}

.auto-play-button-label {
  font-size: 1.2vw;
  background-color: black;
  border-radius: 10px;
  padding: 5%;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .song, .introduction {
    width: 100%;
  }

  .introduction h1 {
    font-size: 5vw;
  }

  .introduction li, .introduction h3 {
    font-size: 3vw;
  }

  .button-bar {
    font-size: 12vw;
  }

  .auto-play-button-label {
    font-size: 3vw;
  }
}
