.introduction h1, .introduction h3 {
  text-align: center;
}

.loader {
  border: 10px solid #303030;
  border-radius: 50%;
  border-top: 10px solid #5b5b87;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.app {
  display: grid;
  transition: grid-template-columns 0.25s;
}
