.introduction h1,
.introduction h3 {
  text-align: center;
}

.introduction h1 {
  font-size: 40px;
}

.introduction h3 {
  font-size: 30px;
}

.introduction li {
  font-size: 20px;
}

.introduction,
.song {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.loader {
  border: 10px solid #303030;
  border-radius: 50%;
  border-top: 10px solid #821fbf;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .song,
  .introduction {
    width: 100%;
  }

  .introduction h1 {
    font-size: 30px;
  }

  .introduction li,
  .introduction h3 {
    font-size: 18px;
  }
}
