.controls {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 6vw;
  text-align: center;
  padding-right: 1%;

  transition: width 0.5s;
}

.pause-button {
  text-align: right;
}

.pause-button:active {
  color: #303030;
}

.filter-menu {
  background-color: black;
  border: 3px solid black;
  border-radius: 30px;
  padding: 5%;
  height: 100%;
  transition: border-color 0.5s;
}

.filter-menu-button {
  font-size: 5vw;
  cursor: pointer;
}

.filter-menu-options {
  font-size: 2vw;
  font-weight: bold;
  text-align: left;
  padding: 5%;

  display: flex;
  flex-direction: column;
}

.multi-range-slider {
  box-shadow: none;
  border: none;
  border-radius: none;
}

.multi-range-slider .bar-left, .multi-range-slider .bar-inner, .multi-range-slider .bar-right {
  box-shadow: none;
  background-color: #303030;
}

.multi-range-slider .bar-inner {
  background-color: #821fbf;
  border: none;
}

.multi-range-slider .thumb::before {
  border: 2px solid black;
  box-shadow: none;
  outline: none;
  height: 20px;
  width: 20px;
}

.multi-range-slider .thumb .caption * {
  background-color: #303030;
  box-shadow: none;
  border: 2px solid white;
}


@media only screen and (max-width: 600px) {
  .pause-button {
    font-size: 12vw;
  }
}
