.controls {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100%;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 6vw;
  padding-right: 1%;

  transition: width 0.5s;
}

.pause-button {
  text-align: right;
}

.pause-button:active {
  color: #303030;
}

.filter-menu {
  display: flex;
  flex-direction: column;
  gap: 1%;
  font-size: 2vw;

  background-color: black;
  border: 3px solid black;
  border-radius: 30px;
  padding: 5%;
  height: 100%;
  overflow: scroll;

  transition: border-color 0.5s;
}

.first-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.filter-menu-button {
  font-size: 5vw;
  cursor: pointer;
}

.auto-play {
  flex-grow: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.control {
  border: 3px solid #303030;
  border-radius: 25px;
  padding: 10px;
}

.genre {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.genre-list {
  overflow-y: scroll;
}

.genre-button {
  color: white;
  background-color: black;
  font-size: 1.5vw;
  border: 2px solid #303030;
  border-radius: 15px;
  line-height: 1.7;
  padding: 1%;
  margin: 1%;
  box-decoration-break: clone;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .pause-button {
    font-size: 12vw;
  }
}
