.controls {
  font-size: 60px;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  position: fixed;
  transition: width 0.25s;
}

.filter-menu {
  flex-grow: 100;
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  background-color: #d3dcf5;
  overflow: hidden;
}

.filter-menu .control {
  font-size: 30px;
}

.auto-play {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.pause-button:active {
  color: #222222;
}

.genre {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.genre-list {
  border: 2px solid #666666;
  padding-left: 10px;
  overflow: scroll;
}
