.controls {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 6vw;
  text-align: center;
  padding-right: 1%;

  transition: width 0.5s;
}

.pause-button {
  text-align: right;
}

.pause-button:active {
  color: #303030;
}

.filter-menu {
  background-color: black;
  border: 3px solid black;
  border-radius: 30px;
  padding: 5%;
  height: 100%;
  max-height: 100%;
  transition: border-color 0.5s;
}

.filter-menu-button {
  font-size: 5vw;
  cursor: pointer;
}

.filter-menu-options {
  font-size: 2vw;
  font-weight: bold;
  text-align: left;
  padding: 5%;

  display: flex;
  flex-direction: column;
  gap: 1%;
}

.filter-menu-options>* {
  border: 2px solid #303030;
  border-radius: 20px;
  padding: 10px;
}

.auto-play {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.genres {
  flex-grow: 100;
}

@media only screen and (max-width: 600px) {
  .pause-button {
    font-size: 12vw;
  }
}
