.multi-range-slider {
  box-shadow: none;
  border: none;
  border-radius: none;
  padding: 10px;
}

.multi-range-slider .bar-left,
.multi-range-slider .bar-inner,
.multi-range-slider .bar-right {
  box-shadow: none;
  background-color: #666666;
}

.multi-range-slider .bar-inner {
  background-color: #5b5b87;
  border: none;
}

.multi-range-slider .thumb::before {
  border: none;
  box-shadow: none;
  outline: none;
  height: 20px;
  width: 20px;
}

.multi-range-slider .thumb .caption * {
  background-color: #666666;
  box-shadow: none;
  border: 2px solid white;
}
