.popularity-bar {
  display: flex;
  align-items: center;
  grid-column-start: 2;
  position: relative;
}

.background-bar {
  border: 6px solid #303030;
}

.value-bar {
  border: 6px solid #821fbf;
}

.background-bar,
.value-bar {
  width: 100%;
  border-radius: 10px;

  position: absolute;
  top: 50%;
}

@media only screen and (max-width: 600px) {
  .background-bar,
  .value-bar {
    border-width: 5px;
  }
}
