.song-info {
  display: grid;
  grid-template-columns: 10% 90%;
  font-size: 20px;
  line-height: 2;
}

.song-info-link {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to bottom left, #484848, #181818, #484848);
  border-radius: 15px;
  padding: 5px;
  box-decoration-break: clone;
}

.song-title {
  font-weight: bold;
  grid-column-start: 2;
}

.popularity-bar {
  display: flex;
  align-items: center;
  grid-column-start: 2;
  position: relative;
}

.background-bar {
  border: 6px solid #303030;
}

.value-bar {
  border: 6px solid #d3dcf5;
}

.background-bar,
.value-bar {
  width: 100%;
  border-radius: 10px;

  position: absolute;
  top: 50%;
}

