.song {
  border-radius: 0px 20px 20px 0px;
  margin: 1px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  display: grid;
  grid-template-columns: 34% 66%;
}

.artwork {
  position: relative;
}

.artwork img {
  width: 100%;
  transition: opacity 0.5s;
}

.playback-disabled-text {
  font-size: 25px;
  position: absolute;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  text-align: center;

  padding: 10px;

  opacity: 0%;
  transition: opacity 0.5s;
  cursor: default;
}
