.song {
  position: absolute;
  transition:
    left 0.25s,
    top 0.25s;

  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 0px 20px 20px 0px;

  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 5px;

  padding-bottom: 5px;
  padding-right: 5px;
}

.artwork {
  position: relative;
}

.artwork img {
  max-width: 100%;
  transition: opacity 0.5s;
}

.playback-disabled-text {
  position: absolute;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  text-align: center;

  padding: 10px;

  opacity: 0%;
  transition: opacity 0.5s;
  cursor: default;
}
