.song-info {
  font-size: 25px;
  position: relative;
  display: grid;
  grid-template-columns: 10% 90%;
}

.song-title {
  font-size: 30px;
  font-weight: 800;
  grid-column-start: 2;
}

.icon-line-icon {
  line-height: 1.7;
  padding: 3px;
  text-align: center;
}

.icon-line-text div {
  padding-top: 10px;
}

.song-info-link {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to bottom left, #484848, #181818, #484848);
  border-radius: 15px;
  line-height: 1.7;
  padding: 5px;
  box-decoration-break: clone;
}

@media only screen and (max-width: 600px) {
  .artwork .playback-disabled-text,
  .song-info {
    font-size: 15px;
  }

  .song-title {
    font-size: 20px;
  }

  .icon-line-text a,
  .icon-line-text div {
    margin-top: 5px;
  }
}
