html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  font-family: 'Public Sans', Arial, sans-serif;
}

.introduction h1, .introduction h3 {
  text-align: center;
}

.introduction h1 {
  font-size: 3vw;
}

.introduction li {
  font-size: 1.5vw;
}

.introduction, .song {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.song {
  border-radius: 0px 20px 20px 0px;
  margin: 1px;

  margin-left: auto;
  margin-right: auto;
 
  display: grid;
  grid-template-columns: 34% 66%;
}

.artwork {
  position: relative;
}

.artwork img {
  width: 100%;
  transition: opacity 0.5s;
}

.artwork .playback-disabled-text {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;

  padding: 5%;

  opacity: 0%;
  transition: opacity 0.5s;
  cursor: default;
}

.artwork .playback-disabled-text, .song-info, .introduction h3 {
  font-size: 2vw;
}

.song-info {
  margin-left: 5%;
  position: relative;
  padding-bottom: 8%;
  display: grid;
  grid-template-columns: 10% 90%;
}

.song-info * {
  margin: 0%;
}

.song-title {
  font-size: 2.5vw;
  font-weight: 800;
  grid-column-start: 2;
}

.icon-line-icon {
  line-height: 1.7;
  padding: 1%;
}

.song-date {
  padding: 1.2%;
}

.song-info-link {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to bottom left, #484848, #181818, #484848);
  border-radius: 15px;
  line-height: 1.7;
  padding: 1%;
  box-decoration-break: clone;
}

.song-popularity-bar {
  grid-column-start: 2;
  position: relative;
  margin-top: 2%;
}

.song-popularity-bar .background-bar, .song-popularity-bar .value-bar{
  border-radius: 10px;

  position: absolute;
  top: 50%;
  
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loader {
  border: 10px solid #303030;
  border-radius: 50%;
  border-top: 10px solid #821fbf;
  width: 8vw;
  height: 8vw;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button-bar {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10%;
 
  position: fixed;
  font-size: 6vw;
  bottom: 0%;
  right: 5%;
}

.button-bar svg {
  border-radius: 50%;
  background-color: black;
}

.auto-play-button-label {
  font-size: 1.2vw;
  background-color: black;
  border-radius: 10px;
  padding: 5%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .song, .introduction {
    width: 100%;
  }

  .introduction h1 {
    font-size: 5vw;
  }

  .introduction li, .introduction h3 {
    font-size: 3vw;
  }

  .song-info {
    grid-template-columns: 10% 90%;
  }

  .artwork .playback-disabled-text, .song-info {
    font-size: 4vw;
  }

  .song-title {
    font-size: 5vw;
  }
 
  .button-bar {
    font-size: 12vw;
  }

  .auto-play-button-label {
    font-size: 3vw;
  }
}
