body {
  background-color: black;
  color: white;
  font-family: 'Arimo', Arial, sans-serif;
}

.introduction h1, .introduction h3 {
  text-align: center;
}

.introduction h1 {
  font-size: 3vw;
}

.introduction li {
  font-size: 1.5vw;
}

.introduction, .song {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.song {
  border-radius: 0px 20px 20px 0px;
  margin: 1px;

  margin-left: auto;
  margin-right: auto;
 
  display: grid;
  grid-template-columns: 34% 66%;
}

.artwork {
  position: relative;
}

.artwork img {
  width: 100%;
  transition: opacity 0.5s;
}

.artwork .playback-disabled-text {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;

  padding: 5%;

  opacity: 0%;
  transition: opacity 0.5s;
  cursor: default;
}

.artwork .playback-disabled-text, .song-info, .introduction h3 {
  font-size: 1.75vw;
}

.song-info {
  margin-left: 5%;
  position: relative;
  padding-bottom: 8%;
}

.song-info * {
  margin: 0%;
}

.song-title {
  font-size: 2.25vw;
}

.song-icon-line {
  display: grid;
  grid-template-columns: 7% 93%;
  margin-top: 1%;
}

.icon-line-icon {
  margin: auto;
}

.song-info-link {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to bottom left, #484848, #181818, #484848);
  border-radius: 15px;
  padding: 1%;
  line-height: 1.55;
  box-decoration-break: clone;
}

.song-popularity-bar {
  position: absolute;
  bottom: 4%;
  width: 95%;
}

.song-popularity-bar .background-bar {
  border: 4px solid #303030;
  border-radius: 10px;
}

.song-popularity-bar .value-bar {
  border: 2px solid #821fbf;
  border-radius: 10px;

  position: absolute;
  top: 50%;
  left: 2px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.loader {
  border: 10px solid #303030;
  border-radius: 50%;
  border-top: 10px solid #821fbf;
  width: 8vw;
  height: 8vw;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pause-button-container {
  width: 6%;
  height: 0;
  padding-bottom: 6%;
  position: fixed;
  bottom: 0%;
  right: 0%;
  font-size: 3vw;
  border-radius: 50%;
  border: 3px solid #303030;
  margin: 2%;
  background-color: #821fbf;
}

.pause-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
} 

@media only screen and (max-width: 600px) {
  .song, .introduction {
    width: 100%;
  }

  .introduction h1 {
    font-size: 5vw;
  }

  .introduction li, .introduction h3 {
    font-size: 3vw;
  }

  .artwork .playback-disabled-text, .song-info {
    font-size: 4vw;
  }

  .song-title {
    font-size: 5vw;
  }

  .song-icon-line {
    grid-template-columns: 10% 90%;
  }
 
  .pause-button-container {
    width: 20%;
    padding-bottom: 20%;
    font-size: 7vw;
  }
}
